<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ipaylinks.cmp.css.dal.mapper.IdempotentControlMapper">

  <insert id="insert" parameterType="com.ipaylinks.cmp.css.dal.model.IdempotentControl">
    <selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE">
      SELECT TO_CHAR(SYSDATE, 'yymmddhh24miss')||SEQ_CYCLE_FOR_ID.nextval FROM DUAL
    </selectKey>
    insert into T_IDEMPOTENT_CONTROL (ID, BIZ_DESC, UNIQUE_KEY)
    values (#{id,jdbcType=VARCHAR}, #{bizDesc,jdbcType=VARCHAR}, #{uniqueKey,jdbcType=VARCHAR})
  </insert>

</mapper>
